## 字符串数据的处理

* 下周考试，内容之前学过所有内容，后面所学会有所侧重，时间1节课，形式和上次一样(数据文件读入详解不考)

In [1]:
import pylab
import math
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize

### 不规范的json数据导入

* 淘宝某男鞋品牌商品详情数据（网络爬取）
https://pan.baidu.com/s/1Fmt1yacISXCjxkPTd-TiVA

In [3]:
op1=open(r'D:\try\shoes.json', 'r',encoding='utf-8')
li=[]
dict1={}
for i in op1:
    k=json.loads(i.encode("utf-8"))#把字符串转换为json
    li.append(k)

In [10]:
li[0]

{'_id': {'$oid': '5aa77041be9b0338dc1faab4'},
 'title': '意尔康男鞋2018春季新款英伦真皮商务休闲皮鞋青年男士皮鞋子男潮',
 'url': 'http://detail.tmall.com/item.htm?id=562121114807&ns=1&abbucket=9',
 'price': '269.00',
 'location': '浙江 丽水',
 'sales': '1583人付款',
 'nick': '意尔康皮鞋旗舰店',
 'itemid': '562121114807',
 'info': {'上市年份季节': '2018年春季',
  '货号': '8142ZR90254W',
  '销售渠道类型': '商场同款(线上线下都销售)',
  '鞋垫材质': 'PU',
  '品牌': 'YEARCON/意尔康',
  '鞋头款式': '圆头',
  '闭合方式': '松紧带',
  '鞋底材质': '塑胶',
  '鞋面材质': '头层牛皮（除牛反绒）',
  '真皮材质工艺': '纳帕纹',
  '鞋面内里材质': 'PU',
  '鞋制作工艺': '注压鞋',
  '跟底款式': '平跟',
  '图案': '纯色',
  '风格': '商务',
  '细分风格': '商务休闲',
  '场合': '日常',
  '季节': '春秋',
  '颜色分类': '黑色土黄',
  '尺码': '383940414243',
  '款式': '商务休闲鞋',
  '功能': '轻质',
  '适用对象': '青年（18-40周岁）',
  '低帮鞋品名': '商务休闲鞋'}}

In [4]:
a=json_normalize(li)#把json数据转化为数据框

## 数据说明

* 淘宝搜索下通常有5000个商品
* 销量意义
* 大量商品的详情信息特征是空缺的

In [14]:
len(a)

4987

In [6]:
a.columns

Index(['_id.$oid', 'info.上市年份季节', 'info.上市时间', 'info.产品名称', 'info.低帮鞋品名',
       'info.功能', 'info.吊牌价', 'info.品牌', 'info.图案', 'info.场合', 'info.外底材料',
       'info.季节', 'info.尺码', 'info.帮面内里材质', 'info.帮面材质', 'info.性别',
       'info.是否商场同款', 'info.是否瑕疵', 'info.款号', 'info.款式', 'info.流行元素',
       'info.真皮材质工艺', 'info.细分风格', 'info.货号', 'info.跟底款式', 'info.运动系列',
       'info.运动鞋科技', 'info.适合路面', 'info.适用对象', 'info.销售渠道类型', 'info.闭合方式',
       'info.靴子品名', 'info.靴筒内里材质', 'info.靴筒材质', 'info.靴筒高度', 'info.鞋制作工艺',
       'info.鞋垫材质', 'info.鞋头款式', 'info.鞋底材质', 'info.鞋码', 'info.鞋跟高',
       'info.鞋面内里材质', 'info.鞋面材质', 'info.颜色分类', 'info.风格', 'itemid',
       'location', 'nick', 'price', 'sales', 'title', 'url'],
      dtype='object')

In [9]:
#a["info.上市年份季节"]

In [17]:
a["info.颜色分类"].head()

0                       黑色土黄
1     黑色棕色黑色加绒版棕色加绒版黑色镂空棕色镂空
2                         黑色
3    黑色真皮 棕色真皮 黑色加绒真皮 棕色加绒真皮
4                   黑色单鞋土黄单鞋
Name: info.颜色分类, dtype: object

In [5]:
a.head(2)

,_id.$oid,info.上市年份季节,info.上市时间,info.产品名称,info.低帮鞋品名,info.功能,info.吊牌价,info.品牌,info.图案,info.场合,...,info.鞋面材质,info.颜色分类,info.风格,itemid,location,nick,price,sales,title,url
0,5aa77041be9b0338dc1faab4,2018年春季,NaN,NaN,商务休闲鞋,轻质,NaN,YEARCON/意尔康,纯色,日常,...,头层牛皮（除牛反绒）,黑色土黄,商务,562121114807,浙江 丽水,意尔康皮鞋旗舰店,269.00,1583人付款,意尔康男鞋2018春季新款英伦真皮商务休闲皮鞋青年男士皮鞋子男潮,http://detail.tmall.com/item.htm?id=5621211148...
1,5aa77042be9b0338dc1faab5,2017年秋季,NaN,NaN,商务休闲鞋,轻质,NaN,YEARCON/意尔康,纯色,办公室,...,头层牛皮（除牛反绒）,黑色棕色黑色加绒版棕色加绒版黑色镂空棕色镂空,商务,545941839337,浙江 丽水,意尔康皮鞋旗舰店,199.00,1607人付款,意尔康旗舰店官方店男鞋春秋真皮爸爸鞋中老年人商务休闲皮鞋子男,http://detail.tmall.com/item.htm?id=5459418393...

In [11]:
a.isnull().sum()

_id.$oid          0
info.上市年份季节    4483
info.上市时间      4986
info.产品名称      4978
info.低帮鞋品名     4512
info.功能         403
info.吊牌价       4986
info.品牌           5
info.图案         209
info.场合         312
info.外底材料      4986
info.季节         273
info.尺码           1
info.帮面内里材质    4944
info.帮面材质      4944
info.性别        4986
info.是否商场同款    4986
info.是否瑕疵      4986
info.款号        4986
info.款式          14
info.流行元素       480
info.真皮材质工艺    1840
info.细分风格       809
info.货号         751
info.跟底款式       243
info.运动系列      4986
info.运动鞋科技     4986
info.适合路面      4986
info.适用对象       781
info.销售渠道类型    4549
info.闭合方式         6
info.靴子品名      4984
info.靴筒内里材质    4983
info.靴筒材质      4983
info.靴筒高度      4983
info.鞋制作工艺      192
info.鞋垫材质      1356
info.鞋头款式        12
info.鞋底材质       218
info.鞋码        4986
info.鞋跟高        799
info.鞋面内里材质      44
info.鞋面材质         7
info.颜色分类         0
info.风格         183
itemid            0
location          0
nick              0
price             0
sales             0
title             0
url               0
dtype: int64

## 课间题

* 请利用老师的代码导入数据，并输出数据的前五行

* 输出所有的列标

* 求出价格均值

注意此数据框价格默认是字符串，需要改变对应列类型才能求均值，具体改变方法见链接
https://www.cnblogs.com/xitingxie/p/8426340.html

In [15]:
a.price.astype(float).mean()

293.0891818728715

* 求价格的分位数（describe）

In [25]:
pd.to_numeric(a.price).describe()

count    4987.000000
mean      293.089182
std       293.797594
min        16.900000
25%       178.000000
50%       258.000000
75%       356.000000
max      6999.000000
Name: price, dtype: float64

count    4987.000000
mean      293.089182
std       293.797594
min        16.900000
25%       178.000000
50%       258.000000
75%       356.000000
max      6999.000000
Name: price, dtype: float64

### pandas 字符串处理都是借助str方法来实现

* python原生字符串处理函数:len split replace

* 正则表达式

In [17]:
b="alibaba"
print(len(b))
print(b.split("a"))
print(b.replace("b","c"))
print(b.find("n"))

7
['', 'lib', 'b', '']
alicaca
-1

## 课间题

In [18]:
#已知
s1="1583人付款"

In [3]:
#以“人”作为分割点对s1进行分割

['1583', '付款']

In [4]:
#请用split方法提取出其中的“1583”

'1583'

In [5]:
#请用空字符串""替代s1中的“人付款”，并输出结果

'1583'

* str下可以使用的方法表

https://www.cnblogs.com/P--K/p/8443995.html

重要函数：split;replace;contain

In [26]:
a.title.str.len()

0       32
1       30
2       32
3       30
4       31
5       30
6       30
7       33
8       32
9       30
10      29
11      39
12      30
13      30
14      30
15      30
16      30
17      32
18      32
19      30
20      28
21      30
22      32
23      32
24      29
25      30
26      30
27      30
28      29
29      32
        ..
4957    30
4958    32
4959    32
4960    30
4961    30
4962    30
4963    31
4964    33
4965    32
4966    33
4967    30
4968    30
4969    30
4970    32
4971    32
4972    32
4973    30
4974    30
4975    32
4976    30
4977    33
4978    33
4979    30
4980    30
4981    30
4982    30
4983    32
4984    32
4985    32
4986    30
Name: title, Length: 4987, dtype: int64

In [29]:
a.title.str.len().head()
#计算商品标题的长度

0    32
1    30
2    32
3    30
4    31
Name: title, dtype: int64

In [30]:
a.title.str[0:4].head()

0    意尔康男
1    意尔康旗
2    2017
3    皮鞋男正
4    意尔康男
Name: title, dtype: object

In [36]:
a.title.str[0:3].head()

0    意尔康
1    意尔康
2    201
3    皮鞋男
4    意尔康
Name: title, dtype: object

In [34]:
a.sales.str.replace("人付款","").astype(int).sum()

23752

In [38]:
a.sales.str.split("人",expand=True)[0].astype(int).sum()

23752

In [47]:
a.sales.str.split("人",expand=True)[0].astype(int).describe()

count    4987.000000
mean        4.762783
std        42.756257
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max      1607.000000
Name: 0, dtype: float64

In [64]:
a.sales.str.split("人",expand=True)[0].head()
#去掉付款人数后面的汉字保留数字

0    1583
1    1607
2     248
3     195
4      37
Name: 0, dtype: object

In [50]:
a.sales.str.replace("人付款","").astype(int)

0       1583
1       1607
2        248
3        195
4         37
5         55
6        147
7         80
8         78
9         27
10        16
11         4
12       116
13        71
14         8
15        30
16        28
17         3
18        62
19        14
20        12
21         9
22        20
23         1
24        29
25        33
26        13
27         5
28         3
29        27
        ...
4957       0
4958       0
4959       0
4960       0
4961       0
4962       0
4963       0
4964       0
4965       0
4966       0
4967       0
4968       0
4969       0
4970       0
4971       0
4972       0
4973       0
4974       0
4975       0
4976       0
4977       0
4978       0
4979       0
4980       0
4981       0
4982       0
4983       0
4984       0
4985       0
4986       0
Name: sales, Length: 4987, dtype: int32

In [65]:
a.sales.str.replace("人付款","").head()
#通过替代也可以完成

0    1583
1    1607
2     248
3     195
4      37
Name: sales, dtype: object

In [52]:
#a.title

In [42]:
a[a.title.str.contains("2018")].title

0             意尔康男鞋2018春季新款英伦真皮商务休闲皮鞋青年男士皮鞋子男潮
4              意尔康男鞋2018春季真皮套脚休闲鞋潮流新款舒适一脚蹬单鞋皮鞋
8             意尔康男鞋2018春季新款商务正装真皮系带婚鞋英伦风尖头韩版皮鞋
29            意尔康男鞋正品皮鞋2018真皮新款商务休闲鞋套脚男士透气潮男单鞋
44            意尔康男鞋正品2018春季休闲皮鞋男士真皮套脚软皮软底爸爸鞋单鞋
51            意尔康男鞋2018春季新款百搭平跟真皮驾车皮鞋一脚蹬生活休闲鞋男
54              意尔康男鞋2018春季新款真皮男青年商务休闲皮鞋套脚潮流单鞋
55            意尔康男鞋2018春季新款圆头真皮软底软面懒人休闲皮鞋豆豆鞋子男
56              意尔康男鞋2018春季时尚个性潮鞋真皮透气运动休闲鞋男士板鞋
57            意尔康男鞋正品2018春季新款商务休闲皮鞋真皮系带软底男士单鞋潮
59              意尔康正品男鞋2018冬新款真皮爸爸鞋老人鞋男士商务休闲皮鞋
64            2018春款正品意尔康男鞋真皮休闲鞋男士中年中老年爸爸鞋软底皮鞋
69            意尔康男鞋2018新款正品真皮商务正装时尚休闲系带内增高春季皮鞋
76            意尔康男鞋 2018春季新款真皮日常休闲皮鞋英伦圆头系带潮单鞋男
82            2018春款新品正品意尔康男鞋真皮休闲鞋青年韩版潮皮鞋软底驾车鞋
83             意尔康男鞋2018春季新款休闲皮鞋男士真皮青年板鞋潮韩版休闲鞋
94            意尔康正品男鞋真皮休闲鞋2018春季中老年皮鞋轻质软底防滑爸爸鞋
96             意尔康真皮男鞋2018春季新款商务正装皮鞋男式单鞋旗舰店官方店
107            意尔康男鞋2018春季真皮鞋舒适套脚一脚蹬韩版潮休闲皮鞋驾车鞋
108           意尔康男鞋2018春季新品休闲皮鞋男士真皮舒适软面皮韩版套脚潮鞋
111           2018意尔康男鞋正品新款男士皮鞋系带真皮青年韩版休闲鞋驾车潮鞋
115            意尔康男鞋2018新款男士皮鞋真皮休闲鞋时尚休闲皮鞋套脚低帮鞋
117            意尔康男鞋2018新款正品真皮英伦系带商务正装男士皮鞋软底婚鞋
118           意尔康男鞋2018春季新款真皮舒适商务休闲皮鞋圆头套脚潮流男单鞋
119           春季意尔康男鞋休闲鞋真皮系带商务皮鞋潮流青年2018男式单鞋透气
124           2018春季意尔康男鞋皮鞋真皮商务休闲鞋男士中年中老年爸爸鞋舒适
126     意尔康男鞋2018款系带青年时尚潮流针织运动跑步皮鞋8112GR82171A
144            意尔康男鞋2018春季新款专柜正品男士皮鞋韩版休闲青年潮鞋皮鞋
147           意尔康男鞋旗舰店官方正品2018春季新款男士真皮休闲鞋懒人鞋皮鞋
150           意尔康男鞋正品2018春季新款真皮商务正装休闲鞋子皮鞋套脚爸爸鞋
                         ...
4836          意尔康男鞋2018春款商务正装真皮系带素面轻质透气软面耐磨皮鞋男
4842           新品意尔康男鞋冬季加棉鞋男士运动鞋2018真皮板鞋休闲鞋男潮鞋
4858          品意尔康2018春季新款板鞋韩版潮流运动休闲男鞋子白色皮鞋小白鞋
4864          新品意尔康正品男鞋2018春季新款男士休闲皮鞋真皮手工防滑鞋子男
4866          2018春秋韩版百搭新品意尔康皮鞋男舒适透气圆头系带真皮日常休闲
4870          新品意尔康官方旗舰店2018春季男士皮鞋款尖头系带商务正装韩版青
4874          2018新款真皮正品意尔康官方旗舰店男鞋加绒加厚商务英伦休闲皮鞋
4876          新品意尔康2018新款春季一脚蹬豆豆懒人潮鞋男士休闲皮鞋韩版百搭
4878          新品意尔康2018春季男鞋韩版百搭板鞋潮流英伦男士休闲皮鞋精神社
4887          2018春季意尔康皮鞋男轻质真皮松紧带男士韩版潮流懒人运动休闲鞋
4888          2018春季意尔康单鞋男透气软底系带真皮男士韩版英伦套脚皮鞋男潮
4892           新品意尔康男鞋冬季加棉鞋男士运动鞋2018真皮板鞋休闲鞋男潮鞋
4899         正品意尔康男鞋2018新款男士头层真皮休闲鞋软底透气特大码47皮鞋
4900          正品意尔康男鞋2018春季新款真皮休闲男鞋韩版百搭运动头层软皮鞋
4909           新品意尔康2018春季款贝壳鞋男士板鞋潮流黑白运动情侣休闲皮鞋
4913          新品意尔康2018新款春季男鞋韩版潮流男士休闲皮鞋商务板鞋百搭英
4920           新品意尔康2018春季英伦男士真皮鞋子休闲皮鞋韩版潮流男鞋百搭
4928          意尔康官方旗舰店2018春季新款真皮男鞋韩版潮鞋日常休闲鞋男皮鞋
4935          新品意尔康春季男鞋2018新款豆豆鞋潮鞋男士休闲鞋韩版皮鞋一脚蹬
4936          2018春季意尔康单鞋男商务休闲透气真皮男士软底套脚方头懒人皮鞋
4937           新品意尔康2018春季英伦男士真皮鞋子休闲皮鞋韩版潮流男鞋百搭
4945          2018新品意尔康牛皮凉鞋夏季舒适休闲透气潮流真皮凉鞋男士沙滩鞋
4948          官方旗舰店意尔康2018夏季新款男士凉鞋真皮露趾休闲沙滩鞋防水鞋
4956          新品意尔康2018新款春季皮鞋男黑色皮鞋青年男鞋英伦商务皮鞋男士
4958          2018春季正品意尔康男鞋休闲皮鞋真皮套脚爸爸鞋保暖绒商务男单鞋
4965          新品意尔康官方旗舰店2018春季款男士休闲男鞋子小皮鞋英伦潮流豆
4970          新品意尔康2018新款春季平底板鞋男士休闲皮鞋韩版潮流百搭男鞋子
4983          新品意尔康2018春秋季男士头层牛皮软底软皮休闲皮鞋套脚外贸男鞋
4984          新品意尔康男鞋夏季2018新款潮鞋休闲鞋韩版百搭鞋子真皮男士单鞋
4985          新品意尔康皮鞋男夏季2018新款潮鞋反绒男士休闲鞋百搭鞋子真皮透
Name: title, Length: 918, dtype: object

In [56]:
#a[a.title.str.contains("2018")].title

In [5]:
a[a.title.str.contains("2018")].title
#注意contains的结果是一个二分序列
#过滤所有title里面有2018的商品

0             意尔康男鞋2018春季新款英伦真皮商务休闲皮鞋青年男士皮鞋子男潮
4              意尔康男鞋2018春季真皮套脚休闲鞋潮流新款舒适一脚蹬单鞋皮鞋
8             意尔康男鞋2018春季新款商务正装真皮系带婚鞋英伦风尖头韩版皮鞋
29            意尔康男鞋正品皮鞋2018真皮新款商务休闲鞋套脚男士透气潮男单鞋
44            意尔康男鞋正品2018春季休闲皮鞋男士真皮套脚软皮软底爸爸鞋单鞋
51            意尔康男鞋2018春季新款百搭平跟真皮驾车皮鞋一脚蹬生活休闲鞋男
54              意尔康男鞋2018春季新款真皮男青年商务休闲皮鞋套脚潮流单鞋
55            意尔康男鞋2018春季新款圆头真皮软底软面懒人休闲皮鞋豆豆鞋子男
56              意尔康男鞋2018春季时尚个性潮鞋真皮透气运动休闲鞋男士板鞋
57            意尔康男鞋正品2018春季新款商务休闲皮鞋真皮系带软底男士单鞋潮
59              意尔康正品男鞋2018冬新款真皮爸爸鞋老人鞋男士商务休闲皮鞋
64            2018春款正品意尔康男鞋真皮休闲鞋男士中年中老年爸爸鞋软底皮鞋
69            意尔康男鞋2018新款正品真皮商务正装时尚休闲系带内增高春季皮鞋
76            意尔康男鞋 2018春季新款真皮日常休闲皮鞋英伦圆头系带潮单鞋男
82            2018春款新品正品意尔康男鞋真皮休闲鞋青年韩版潮皮鞋软底驾车鞋
83             意尔康男鞋2018春季新款休闲皮鞋男士真皮青年板鞋潮韩版休闲鞋
94            意尔康正品男鞋真皮休闲鞋2018春季中老年皮鞋轻质软底防滑爸爸鞋
96             意尔康真皮男鞋2018春季新款商务正装皮鞋男式单鞋旗舰店官方店
107            意尔康男鞋2018春季真皮鞋舒适套脚一脚蹬韩版潮休闲皮鞋驾车鞋
108           意尔康男鞋2018春季新品休闲皮鞋男士真皮舒适软面皮韩版套脚潮鞋
111           2018意尔康男鞋正品新款男士皮鞋系带真皮青年韩版休闲鞋驾车潮鞋
115            意尔康男鞋2018新款男士皮鞋真皮休闲鞋时尚休闲皮鞋套脚低帮鞋
117            意尔康男鞋2018新款正品真皮英伦系带商务正装男士皮鞋软底婚鞋
118           意尔康男鞋2018春季新款真皮舒适商务休闲皮鞋圆头套脚潮流男单鞋
119           春季意尔康男鞋休闲鞋真皮系带商务皮鞋潮流青年2018男式单鞋透气
124           2018春季意尔康男鞋皮鞋真皮商务休闲鞋男士中年中老年爸爸鞋舒适
126     意尔康男鞋2018款系带青年时尚潮流针织运动跑步皮鞋8112GR82171A
144            意尔康男鞋2018春季新款专柜正品男士皮鞋韩版休闲青年潮鞋皮鞋
147           意尔康男鞋旗舰店官方正品2018春季新款男士真皮休闲鞋懒人鞋皮鞋
150           意尔康男鞋正品2018春季新款真皮商务正装休闲鞋子皮鞋套脚爸爸鞋
                         ...
4836          意尔康男鞋2018春款商务正装真皮系带素面轻质透气软面耐磨皮鞋男
4842           新品意尔康男鞋冬季加棉鞋男士运动鞋2018真皮板鞋休闲鞋男潮鞋
4858          品意尔康2018春季新款板鞋韩版潮流运动休闲男鞋子白色皮鞋小白鞋
4864          新品意尔康正品男鞋2018春季新款男士休闲皮鞋真皮手工防滑鞋子男
4866          2018春秋韩版百搭新品意尔康皮鞋男舒适透气圆头系带真皮日常休闲
4870          新品意尔康官方旗舰店2018春季男士皮鞋款尖头系带商务正装韩版青
4874          2018新款真皮正品意尔康官方旗舰店男鞋加绒加厚商务英伦休闲皮鞋
4876          新品意尔康2018新款春季一脚蹬豆豆懒人潮鞋男士休闲皮鞋韩版百搭
4878          新品意尔康2018春季男鞋韩版百搭板鞋潮流英伦男士休闲皮鞋精神社
4887          2018春季意尔康皮鞋男轻质真皮松紧带男士韩版潮流懒人运动休闲鞋
4888          2018春季意尔康单鞋男透气软底系带真皮男士韩版英伦套脚皮鞋男潮
4892           新品意尔康男鞋冬季加棉鞋男士运动鞋2018真皮板鞋休闲鞋男潮鞋
4899         正品意尔康男鞋2018新款男士头层真皮休闲鞋软底透气特大码47皮鞋
4900          正品意尔康男鞋2018春季新款真皮休闲男鞋韩版百搭运动头层软皮鞋
4909           新品意尔康2018春季款贝壳鞋男士板鞋潮流黑白运动情侣休闲皮鞋
4913          新品意尔康2018新款春季男鞋韩版潮流男士休闲皮鞋商务板鞋百搭英
4920           新品意尔康2018春季英伦男士真皮鞋子休闲皮鞋韩版潮流男鞋百搭
4928          意尔康官方旗舰店2018春季新款真皮男鞋韩版潮鞋日常休闲鞋男皮鞋
4935          新品意尔康春季男鞋2018新款豆豆鞋潮鞋男士休闲鞋韩版皮鞋一脚蹬
4936          2018春季意尔康单鞋男商务休闲透气真皮男士软底套脚方头懒人皮鞋
4937           新品意尔康2018春季英伦男士真皮鞋子休闲皮鞋韩版潮流男鞋百搭
4945          2018新品意尔康牛皮凉鞋夏季舒适休闲透气潮流真皮凉鞋男士沙滩鞋
4948          官方旗舰店意尔康2018夏季新款男士凉鞋真皮露趾休闲沙滩鞋防水鞋
4956          新品意尔康2018新款春季皮鞋男黑色皮鞋青年男鞋英伦商务皮鞋男士
4958          2018春季正品意尔康男鞋休闲皮鞋真皮套脚爸爸鞋保暖绒商务男单鞋
4965          新品意尔康官方旗舰店2018春季款男士休闲男鞋子小皮鞋英伦潮流豆
4970          新品意尔康2018新款春季平底板鞋男士休闲皮鞋韩版潮流百搭男鞋子
4983          新品意尔康2018春秋季男士头层牛皮软底软皮休闲皮鞋套脚外贸男鞋
4984          新品意尔康男鞋夏季2018新款潮鞋休闲鞋韩版百搭鞋子真皮男士单鞋
4985          新品意尔康皮鞋男夏季2018新款潮鞋反绒男士休闲鞋百搭鞋子真皮透
Name: title, Length: 918, dtype: object

In [27]:
a.title.str.extract('(\d+)').head()
#正则表达式，抽取所有匹配到的数字

      0
0  2018
1   NaN
2  2017
3   NaN
4  2018

In [93]:
#a.location.str.split(" ",expand=True)[0]

## 基于处理后的序列进行分组

* 注意这里要求索引能够对应

In [46]:
a.location.str.split(" ",expand=True)[0]

0       浙江
1       浙江
2       浙江
3       浙江
4       浙江
5       浙江
6       浙江
7       浙江
8       浙江
9       江苏
10      浙江
11      浙江
12      浙江
13      浙江
14      浙江
15      浙江
16      浙江
17      浙江
18      浙江
19      福建
20      浙江
21      浙江
22      浙江
23      福建
24      浙江
25      浙江
26      浙江
27      浙江
28      浙江
29      浙江
        ..
4957    福建
4958    浙江
4959    福建
4960    浙江
4961    浙江
4962    上海
4963    上海
4964    浙江
4965    浙江
4966    福建
4967    福建
4968    福建
4969    福建
4970    福建
4971    福建
4972    福建
4973    福建
4974    福建
4975    福建
4976    福建
4977    福建
4978    福建
4979    福建
4980    福建
4981    福建
4982    福建
4983    广东
4984    福建
4985    福建
4986    上海
Name: 0, Length: 4987, dtype: object

In [69]:
a.location.str.split(" ",expand=True)[0].head()

0    浙江
1    浙江
2    浙江
3    浙江
4    浙江
Name: 0, dtype: object

In [48]:
a.groupby(a.location.str.split(" ",expand=True)[0]).size()
#求各个省份的商品数量

0
上海     154
北京     339
吉林       1
四川       4
安徽      24
山东      44
山西      39
广东     284
江苏     120
江西      42
河北      86
河南     393
浙江    2470
湖北      27
福建     952
贵州       2
辽宁       3
重庆       3
dtype: int64

In [64]:
a.groupby(a.title.str.contains("2018")).size()

title
False    4069
True      918
dtype: int64

In [50]:
#a.title.str.contains("2018")

## 课间题

* 求出各个市的商品数量

1
上饶        1
东莞        8
中山        1
临沂       15
丽水      938
九江       15
保定        2
南京        9
南平       10
南昌       23
厦门       18
台州        2
合肥       21
嘉兴        4
太原       39
宁德      126
宁波        8
安庆        3
宜春        3
宿迁        4
常州        5
广元        1
广州      264
徐州        2
恩施        1
成都        3
扬州       92
杭州      107
松原        1
武汉       10
汕头        5
沈阳        3
泉州      798
济南        1
深圳        4
温岭       10
温州     1275
湖州      118
潍坊       21
珠海        2
石家庄      70
绍兴        1
苏州        5
莱芜        1
衢州        3
襄阳        1
贵阳        2
连云港       1
邢台       14
郑州      393
金华        4
镇江        2
青岛        6
黄石       15
dtype: int64

* 求出商品“info.鞋面材质”中各个特征的商品数量

info.鞋面材质
PU             671
二层牛皮（除牛反绒）     605
二层猪皮             8
人造革             80
塑胶              10
多种材质拼接          21
太空革              9
头层牛皮（除牛反绒）    3470
头层猪皮             6
布                8
棉布               1
牛仔布              2
牛反绒             12
磨砂皮             14
绒面              15
网布               7
羊皮毛一体            1
超纤              35
超纤皮              1
鳄鱼皮              4
dtype: int64

* 求所有商品的的总付款人数(注意同样要进行类型转换)

23752

* 选择title中包含春季的商品前五行

* 求出所有在"info.颜色分类"中有白色的商品，并求出其数量

306